/* body{
	background-color: darkgray;
}

.navbar1{
	background-color: gray;
	text-align: center;
	height: 70px;

}
h1{

	
	
}
fieldset {
  background-color: #eeeeee;
}


.box{
	
	margin-top: 80px;
	text-align: center;
	margin-bottom: 80px;
}

.mb-3{
	width: 480px;
	margin-left: 440px;
	padding-top: 40px;
} */
html,
body {
  height: 100%;
  background-color: rgb(187, 163, 163);
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: rgb(187, 163, 163);
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
  }
.btn{
	text-decoration: none;
	color: white;
}
 @media (min-width: 768px) {
	.bd-placeholder-img-lg {
	  font-size: 3.5rem;
	}
  }